package {{package}};

import java.util.Objects;
{{#imports}}import {{import}};
{{/imports}}

{{#parcelableModels}}import android.os.Parcelable;
import android.os.Parcel;
{{/parcelableModels}}

import com.google.gson.annotations.SerializedName;

{{#serializableModel}}import java.io.Serializable;{{/serializableModel}}
{{#models}}
{{#model}}
{{#isEnum}}{{>modelEnum}}{{/isEnum}}{{^isEnum}}{{>pojo}}{{/isEnum}}
{{/model}}
{{/models}}
